body {
    font-size: 62.5%;
    margin-left: 0;
    margin-right: 0;
}
.container {
    margin: 0 auto;
}
header {
    background-color: grey;
    padding-top: 1em;
    padding-bottom: 5em;
    text-align: center;
    margin: 0;
    width: 100%;
}
h1 {
    text-decoration: none;
}
a .top {
    position: fixed;
    bottom: 0em;
    right: 0em;
    background-color: black;
    color: white;
    text-decoration: none;
    font-size: 1.2em;

}
section {
    font-size: 3em;
}
ul li {
    list-style: none;
    width: 100%;
    margin-top: 0.2em;
    margin-bottom: 0.2em;
    padding-top: 0;
}
ul li a {
    background-color: #3EFFA3;
    /*border: 0.5px solid grey;*/
    padding-bottom: 4em;
    margin: 0.4em;
}
nav a {
    color: grey;
    padding-left: 0.5em;
    padding-right: 0.5em;
    font-size: 3.2em;
    padding-top: 4em;

}
nav {
    text-align: center;
    width: 100%;
    padding-top: 5em;
    padding-bottom: 5em;
    margin-bottom: 1em;
}
h4 {
    background-color: #4285F4;
    color: white;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-top: 1em;
}
dl {
    background-color: #B5B5B5;
}
/*@media screen and (min-width: 801px) {
    body {
        margin-left: 0;
        margin-right: 0;
    }
}*
